<html>
<body>
	<table>
		<thead>
			<tr>
				<td>First name</td>
				<td>Last Name</td>
				<td>Age</td>
				<td>Gender</td>
				<td>Sgpa</td>
				<td>Cgpa</td>
			</tr>
		</thead>
		<tbody>
			{% for grade in grades %}
				<tr>
					<td>{{grade.student.first_name}}</td>
					<td>{{grade.student.last_name}}</td>
					<td>{{grade.student.age}}</td>
					<td>{{grade.student.gender}}</td>
					<td>{{grade.sgpa}}</td>
					<td>{{grade.cgpa}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>